<ion-view class="pinkColor caregiver-infos" view-title="CUIDADOSO">
   <ion-nav-bar>
    <ion-nav-buttons side="left">
         <button ng-click="goReview()" class="ion-ios-arrow-back btn-icon">
         </button>
      </ion-nav-buttons>
      <ion-nav-title>
         CUIDADOSO
      </ion-nav-title>
      <ion-nav-buttons side="right">
         <button ng-click="doSomething()" class="icons icon-question btn-icon">
         </button>
      </ion-nav-buttons>
   </ion-nav-bar>
   <ion-content class="has-nav">
    <img src="http://faculty.sites.uci.edu/ostlund/files/2011/04/V55A8298_face04-300x300.jpg" class="caregiver-picture" />
    <div class="stars">
            <img src="img/star.svg" class="fake-star" />
            <img src="img/star.svg" class="fake-star" />
            <img src="img/star.svg" class="fake-star" />
            <img src="img/star.svg" class="fake-star" />
            <img src="img/star_empty.svg" class="fake-star" />
    </div>
        <h2 class="caregiver-name">Fernando Cymbaluk</h2>
        <div class="caregiver-about">
            30 anos <br>
            12 anos de Experiência <br>
            Fisioterapeuta <br> <br>
            Jornalista, pesquisador na área de ciências <br>
sociais e empreendedor social
        </div>
    <button class="caregiver-btn-accept" ng-click="openModal()">Valor do cuidador</button>
   </ion-content>
   <ion-footer-bar class="hide-on-keyboard-open menu-footer">
      <button type="button" class="btn-icon icons icon-days" ng-click="goPage()" ></button>
      <button type="button" class="btn-icon icons icon-user right" ng-click="goSignup()"></button>
      <button type="button" class="btn-circle" ng-click="goRequest()" ng-class="{'caregiver-button': isType == 1}">
      <i class="icons" ng-class="isType == 1 ? 'icon-checked' : 'icon-old'"></i>
      <span>{{isType == 1 ? 'Pertos de você' : 'Solicitar'}}</span>
      </button>
   </ion-footer-bar>

   <!-- MODAL -->
    <script id="my-modal.html" type="text/ng-template">
    <ion-modal-view class="pinkColor caregiver-infos caregiver-info-modal">
       <ion-nav-bar>
    <ion-nav-buttons side="left">
         <button ng-click="modal.hide()" class="ion-ios-arrow-back btn-icon">
         </button>
      </ion-nav-buttons>
      <ion-nav-title>
         CUIDADOSO
      </ion-nav-title>
      <ion-nav-buttons side="right">
         <button ng-click="doSomething()" class="icons icon-question btn-icon">
         </button>
      </ion-nav-buttons>
   </ion-nav-bar>
    <ion-content class="has-nav">
      Hello!
    </ion-content>
  </ion-modal-view>
</script>
</ion-view>