    <ion-view class="purpleColor modal-view-proposal modal-request-review" view-title="CUIDADOSO">
   <ion-nav-bar>
    <ion-nav-buttons side="left">
         <button ng-click="goPage()" class="ion-ios-arrow-back btn-icon">
         </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
         <button ng-click="doSomething()" class="icons icon-question btn-icon">
         </button>
      </ion-nav-buttons>
   </ion-nav-bar>
        <ion-content class="has-nav">
            <h2 class="header-title">
                <i class="icons icon-user"></i>
                <strong>OFERTA ACEITA</strong>
            </h2>
        <ul class="list request-info">
         <li class="item">
            <strong class="block">Joana Sebastiana <i class="icon ion-checkmark"></i></strong> Aceitou sua proposta  e pagou via PagSeguro!
         </li> <br> <br>
         <li class="item">
            Converse  com <b>Joana</b> por WhatsApp  ou faça uma ligação
         </li>
        </ul>
              <button class="btn-call">
        Ligar
      </button>
      <button class="btn-whatsapp">
        Abrir WhatsApp
      </button>
        </ion-content>
    <ion-footer-bar class="hide-on-keyboard-open menu-footer">
        <button class="send-proposal" ng-click="goPage()">Cancelar proposta</button>
    </ion-footer-bar>
    </ion-view>