<ion-view class="home" view-title="CUIDADOSO">
    <ion-nav-bar>
        <ion-nav-buttons side="right">
            <button ng-click="doSomething()" class="icons icon-question btn-icon">
         </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <!--ion-tabs class="tabs-icon-top  tabs-custom">
        <ion-tab title="Seus dados" icon-off="icons icon-login" icon-on="icons icon-login">
        </ion-tab>
        <ion-tab title="Agenda" icon-off="icons icon-days" icon-on="icons icon-days">
        </ion-tab>
        <ion-tab title="Sair" icon-off="icons icon-logout" icon-on="icons icon-logout">
        </ion-tab>
    </ion-tabs-->
    <ion-content padding class="has-nav">
        <h2 class="login-header">
            <i class="icons icon-days"></i>
            <strong>AGENDAMENTOS</strong>
        </h2>
          <div class="alert-info" ng-click="goReview()">
            Atenção!
            <span>Proposta aprovada com sucesso</span>
          </div>
        <div tiny-calendar first-day="1" events="events" week-days='DSTQQSS'></div>
    </ion-content>
    <ion-footer-bar class="hide-on-keyboard-open menu-footer">
        <button type="button" class="btn-icon icons icon-days" ></button>
        <button type="button" class="btn-icon icons icon-user right" ng-click="goSignup()"></button>
        <button type="button" class="btn-circle" ng-click="goRequest()" ng-class="{'caregiver-button': isType == 1}">
          <i class="icons" ng-class="isType == 1 ? 'icon-checked' : 'icon-old'"></i>
          <span>{{isType == 1 ? 'Pertos de você' : 'Solicitar'}}</span>
        </button>
    </ion-footer-bar>
</ion-view>