<ion-view class="home" view-title="CUIDADOSO">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <button ng-click="doSomething()" class="icons icon-menu btn-icon">
         </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button ng-click="doSomething()" class="icons icon-question btn-icon">
         </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-tabs class="tabs-icon-top  tabs-custom">
        <!-- Dashboard Tab -->
        <ion-tab title="Seus dados" icon-off="icons icon-login" icon-on="icons icon-login">
        </ion-tab>

        <!-- Chats Tab -->
        <ion-tab title="Agenda" icon-off="icons icon-days" icon-on="icons icon-days">
        </ion-tab>

        <!-- Account Tab -->
        <ion-tab title="Sair" icon-off="icons icon-logout" icon-on="icons icon-logout">
        </ion-tab>
    </ion-tabs>
    <ion-content padding class="has-tabs">
        <p class="p-text">Interessadas se candidataram. Você em breve escolherá a que melhor se adequa ao seu perfil.</p>
        <p class="p-text">Clique no ícone <i class="icons icon-days"></i> para acompanhar o status desta solicitação</p>
    </ion-content>
    <ion-footer-bar class="hide-on-keyboard-open menu-footer">
        <button type="button" class="btn-icon icons icon-days"></button>
        <button type="button" class="btn-icon icons icon-user right"></button>
        <button type="button" class="btn-circle">
          <i class="icons icon-old"></i>
          <span>Solicitar</span>
        </button>
    </ion-footer-bar>
</ion-view>