<ion-view class="purpleColor list-caregiver" view-title="CUIDADOSO">
   <ion-nav-bar>
    <ion-nav-buttons side="left">
         <button ng-click="goHome()" class="ion-ios-arrow-back btn-icon">
         </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
         <button ng-click="doSomething()" class="icons icon-question btn-icon">
         </button>
      </ion-nav-buttons>
   </ion-nav-bar>

    <ion-content padding class="has-nav">
    <h2 class="header-title">
         <i class="icons icon-user"></i>
         <strong>PEDIDOS DE CUIDADOR</strong>
    </h2>
    
    <div class="row btn-groups">
        <div class="col"><button class="btn-nearest">Pedidos perto de você</button></div>
        <div class="col"><button class="btn-nearest">Ofertas feita por mim</button></div>
    </div>
    <div class="filter">
        Organizar por: Data | Local mais próximo
    </div>
    <ul class="list">
        <li class="item  item-icon-right">
          <strong class="block">Maria Aparecida - 69 Anos</strong>
          <span class="block"> <strong>Data:</strong>20/08/17</span>  
          <span class="block"> <strong>Horário:</strong>18:20 até 18:30</span>
          <span class="block"> <strong>Local:</strong>Moóca, Rua General Santiago</span>
        <i class="icon ion-ios-arrow-forward"></i>
        </li>
        <li class="item  item-icon-right">
          <strong class="block">Maria Aparecida - 69 Anos</strong>
          <span class="block"> <strong>Data:</strong>20/08/17</span>  
          <span class="block"> <strong>Horário:</strong>18:20 até 18:30</span>
          <span class="block"> <strong>Local:</strong>Moóca, Rua General Santiago</span>
        <i class="icon ion-ios-arrow-forward"></i>
        </li>
        <li class="item  item-icon-right">
          <strong class="block">Maria Aparecida - 69 Anos</strong>
          <span class="block"> <strong>Data:</strong>20/08/17</span>  
          <span class="block"> <strong>Horário:</strong>18:20 até 18:30</span>
          <span class="block"> <strong>Local:</strong>Moóca, Rua General Santiago</span>
        <i class="icon ion-ios-arrow-forward"></i>
        </li>
        <li class="item  item-icon-right">
          <strong class="block">Maria Aparecida - 69 Anos</strong>
          <span class="block"> <strong>Data:</strong>20/08/17</span>  
          <span class="block"> <strong>Horário:</strong>18:20 até 18:30</span>
          <span class="block"> <strong>Local:</strong>Moóca, Rua General Santiago</span>
        <i class="icon ion-ios-arrow-forward"></i>
        </li>
    </ul>
    </ion-content>
</ion-view>