<ion-view class="singup" view-title="CUIDADOSO">
    <ion-nav-bar>
        <ion-nav-buttons side="right">
            <button ng-click="doSomething()" class="icons icon-question btn-icon">
         </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding>
        <ion-slide-box on-slide-changed="slideChanged(index)" ng-init="signup.lock()" active-slide="signup.current" class="slide-signup">
            <ion-slide class="slide-one">
                <header class="step">
                    <span class="amount-step">1/3</span>
                    <strong>CADASTRO DO RESPONSÁVEL</strong>
                </header>
                <form name="form" class="list" form-validate>
                    <label class=" item-input item-floating-label">
               <span class="input-label">Nome</span>
               <input type="text" placeholder="Nome" ng-model="data.name"/>
               </label>
               <label class=" item-input item-floating-label"  ng-class="{errorInput:emailValidate || signup.error.emailExsists}">
                   <span class="input-label">E-mail</span>
                   <span class="label-error" ng-if="emailValidate">Digite um email válido</span>
                   <span class="label-error" ng-if="signup.error.emailExsists">Email em uso</span>
                   <input type="text"  placeholder="E-mail" ng-model="data.email" required="true" ng-click="emailValidate=false;signup.error.emailExsists=false" validate-email/>
               </label>
                    <span class="label-error password-compare" ng-class="{errorInput:form.confirmPassword.$invalid && form.confirmPassword.$dirty}"  ng-if="form.confirmPassword.$invalid && form.confirmPassword.$dirty">
                     As senhas não correspondem.
                     </span>
                    <div class="row inline-inputs" ng-class="{errorInput:form.confirmPassword.$invalid && form.confirmPassword.$dirty}">
                        <div class="col">
                            <label class=" item-input item-floating-label">
                     <span class="input-label">Senha</span>
                     <input type="password"  placeholder="Senha" ng-model="passowrd" required="true"/>
                     </label>
                        </div>
                        <div class="col">
                          <label class=" item-input item-floating-label">
                             <span class="input-label">Confirma</span>
                             <input type="password"  placeholder="Confirma" compare-to="passowrd"  name="confirmPassword" ng-model="data.password" required="true"/>
                         </label>
                        </div>
                    </div>
                    <label class=" item-input item-floating-label">
               <span class="input-label">CPF</span>
               <input type="number"  placeholder="CPF" ng-model="data.cpf" required="true"/>
               </label>
                    <div class="row inline-inputs">
                        <div class="col">
                            <label class=" item-input item-floating-label">
                     <span class="input-label">Celular</span>
                     <input type="tel" placeholder="Celular" ng-model="data.phone" required="true"/>
                     </label>
                        </div>
                        <div class="col">
                            <label class=" item-input item-floating-label">
                     <span class="input-label">Telefone Fixo</span>
                     <input type="tel" placeholder="Telefone Fixo" ng-model="data.landline" required="true"/>
                     </label>
                        </div>
                    </div>
                </form>
            </ion-slide>
            <ion-slide class="slide-one">
                <header class="step">
                    <span class="amount-step">2/3</span>
                    <strong>CADASTRO DO IDOSO</strong>
                </header>
                <form class="list" name="old" ng-repeat="old in olds" form-validate>
                    <label class=" item-input item-floating-label">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="Nome" ng-model="olds[$index].name" required="true"/>
                    </label>
                    <label class=" item-input item-floating-label">
                    <span class="input-label">Gênero</span>
                    <input type="text"  placeholder="Gênero" ng-model="olds[$index].gender" required="true"/>
                    </label>
                    <label class=" item-input item-floating-label">
                    <span class="input-label">Cuidados especiais</span>
                    <input type="text" placeholder="Cuidados especiais" ng-model="olds[$index].special" required="true"/>
                    </label>
                    <label class=" item-input item-floating-label">
                    <span class="input-label">Medicamentos</span>
                    <input type="text" placeholder="Medicamentos" ng-model="olds[$index].medicines" required="true"/>
                    </label>
                    <label class=" item-input item-floating-label">
                    <span class="input-label">Descrição / perfil / Observações</span>
                    <input type="text" placeholder="Descrição / perfil / Observações" ng-model="olds[$index].description" required="true"/>
                    </label>
                </form>
                <button type="button" class="add-old-aged" ng-click="add()">Adicionar outro idoso</button>
            </ion-slide>
            <ion-slide class="slide-one">
                <header class="step">
                    <span class="amount-step">3/3</span>
                    <strong>CADASTRO DO ENDEREÇO</strong>
                </header>
                <form class="list" name="address"  form-validate>
                    <label class=" item-input item-floating-label">
                    <span class="input-label">Identificação</span>
                    <input type="text" placeholder="Identificação" ng-model="data.identification" required="true"/>
                    </label>
                    <label class=" item-input item-floating-label">
                    <span class="input-label">CEP</span>
                    <input type="text"  placeholder="CEP" ng-model="data.cep" required="true"/>
                    </label>
                    <label class=" item-input item-floating-label">
                    <span class="input-label">Endereço</span>
                    <input type="text" placeholder="Endereço" ng-model="data.address" required="true"/>
                    </label>
                    <label class=" item-input item-floating-label">
                    <span class="input-label">Bairro</span>
                    <input type="text" placeholder="Medicamentos" ng-model="data.burgh" required="true"/>
                    </label>
                    <div class="row inline-inputs">
                        <div class="col">
                            <label class=" item-input item-floating-label">
                     <span class="input-label">Número</span>
                     <input type="number" placeholder="Número" ng-model="data.number" required="true"/>
                     </label>
                        </div>
                        <div class="col">
                            <label class=" item-input item-floating-label">
                     <span class="input-label">Complemento</span>
                     <input type="text" placeholder="Complemento" ng-model="data.complement" required="true"/>
                     </label>
                        </div>
                    </div>
                    <div class="row inline-inputs">
                        <div class="col">
                            <label class=" item-input item-floating-label">
                     <span class="input-label">Estado</span>
                     <input type="text" placeholder="Estado" ng-model="data.state" required="true"/>
                     </label>
                        </div>
                        <div class="col">
                            <label class=" item-input item-floating-label">
                     <span class="input-label">Cidade</span>
                     <input type="text" placeholder="Cidade" ng-model="data.city" required="true"/>
                     </label>
                        </div>
                    </div>
                </form>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <ion-footer-bar class="hide-on-keyboard-open">
        <button type="button" class="signin" ng-click="signup.current == 0 ? goPage() : signup.back()">{{signup.current == 0 ? 'Já sou cadastrado' : 'Voltar'}}</button>
        <button type="button" class="next-step" ng-click="signup.current == 2 ? signup.store() : signup.next()" ng-if="signup.current == 0" ng-disabled="!formIsValid || isLoading"> {{signup.current == 2 ? 'Salvar' : 'Próximo passo'}}</button>
        <button type="button" class="next-step" ng-click="signup.current == 2 ? signup.store() : signup.next()" ng-if="signup.current == 1" ng-disabled="!formIsValid || isLoading"> {{signup.current == 2 ? 'Salvar' : 'Próximo passo'}}</button>
        <button type="button" class="next-step" ng-click="signup.current == 2 ? signup.store() : signup.next()" ng-if="signup.current == 2" ng-disabled="!formIsValid || isLoading"> {{signup.current == 2 ? 'Salvar' : 'Próximo passo'}}</button>
    </ion-footer-bar>
</ion-view>