<ion-nav-bar ng-class="navBarCurrent">
    <ion-nav-buttons side="left">
        <button ng-click="doSomething()" class="icons icon-menu btn-icon">
         </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="doSomething()" class="icons icon-question btn-icon">
         </button>
    </ion-nav-buttons>
</ion-nav-bar>
<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-custom">

    <!-- Dashboard Tab -->
    <ion-tab title="Seus dados" icon-off="icons icon-login" icon-on="icons icon-login">
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="Agenda" icon-off="icons icon-days" icon-on="icons icon-days">
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Sair" icon-off="icons icon-logout" icon-on="icons icon-logout">
    </ion-tab>


</ion-tabs>