$im: !important;
* {
    font-family: 'Titillium Web' $im;
}

body {
    font-weight: 400;
}


/* ONBOARDING
-------------------------------------------------- */

.slide-signup {
    .slider-pager-page {
        display: none $im;
    }
}

.slide-box {
    height: 100vh;
    .slide-title {
        color: #fff;
        text-align: center;
        font-size: 1.8em;
        padding: 20px;
        margin-top: 10vh;
    }
    .slide-one {
        background-color: #f63371;
    }
    .slide-two {
        background-color: #43b3a1;
    }
    .slide-three {
        background-color: #592b5f;
    }
    .slider-pager {
        top: 3% $im;
    }
    .slide-img {
        width: 80%;
        margin: 0 auto;
        position: absolute;
        bottom: 20vh;
        display: block;
        left: 0;
        right: 0;
    }
    .slider-pager-page {
        background-color: transparent;
        i {
            &:before {
                content: "" $im;
                width: 10px;
                height: 10px;
                display: block;
                border-radius: 50%;
                background-color: transparent;
                border: solid 1px #fff $im;
                transition: 0.3s;
                transform: scale(1);
            }
        }
        &.active {
            i {
                &:before {
                    background-color: #fff;
                    transform: scale(1.3);
                    border: none $im;
                }
            }
        }
    }
}

.btn-start {
    position: fixed;
    bottom: 0;
    left: 0 $im;
    transform: translate(0, 0px) translateZ(0px) $im;
    height: 54px;
    border: none;
    font-size: 1.3em;
    width: 100% $im;
    background-color: #fff;
    color: #666;
    z-index: 99;
    font-weight: bold;
}


/*ALLOW
-------------------------------------------------- */

.allow-gps {
    ion-content {
        background-color: #f63371;
        height: 100vh;
        h1 {
            text-align: center;
            color: #fff;
            font-size: 1.5em;
            margin-top: 10vh;
            margin-bottom: 10vh;
            display: block;
        }
        img {
            width: 80%;
            margin: 0 auto;
            display: block;
        }
        p {
            text-align: center;
            color: #fff;
            font-size: 1.1em;
            line-height: 1;
            padding: 5px 10px;
            margin-top: 10px;
        }
        .btn-allow {
            background-color: #fff;
            height: 44px;
            margin: 0 auto;
            padding: 0 40px;
            font-weight: bold;
            display: block;
            color: #f63371;
            border: none;
        }
        .btn-not-allow {
            background-color: transparent;
            height: 44px;
            margin: 10px auto 0;
            padding: 0 40px;
            font-weight: 300;
            display: block;
            color: #fff;
            border: none;
        }
        &.notification {
            background-color: #592b5f;
            .btn-allow {
                color: #592b5f;
            }
        }
    }
}


/*SIGNUP
-------------------------------------------------- */

.singup {
    .bar-header {
        background-color: #43b3a1;
        .title {
            color: #fff;
            font-weight: bold;
        }
        .btn-icon {
            font-size: 1.7em;
            background-color: transparent;
            border: none;
            color: #fff;
        }
    }
    .step {
        height: 64px;
        position: relative;
        line-height: 64px;
        strong {
            font-size: 1.3em;
            color: #43b3a1;
        }
        .amount-step {
            width: 42px;
            height: 42px;
            display: block;
            border-radius: 50%;
            border: solid 1px #43b3a1;
            position: absolute;
            line-height: 38px;
            text-align: center;
            font-size: 1.1em;
            right: 10px;
            top: 50%;
            color: #43b3a1;
            transform: translateY(-50%);
        }
    }
    .item-floating-label,
    .item-stacked-label {
        border-bottom: solid 1px #eee $im;
        padding: 0 $im;
        .input-label {
            width: auto $im;
            max-width: none $im;
        }
    }
    .inline-inputs {
        .col {
            padding-left: 0 $im;
            .input-label {
                width: auto $im;
                max-width: none $im;
            }
        }
    }
    .add-old-aged {
        float: right;
        background-color: transparent;
        border: none;
        color: #0692d2;
        font-weight: bold;
        font-size: 1.1em;
    }
}


/*LOGIN
-------------------------------------------------- */

.login {
    .bar-header {
        background-color: #f63371;
        .title {
            color: #fff;
            font-weight: bold;
        }
        .btn-icon {
            font-size: 1.7em;
            background-color: transparent;
            border: none;
            color: #fff;
        }
    }
    .item-floating-label,
    .item-stacked-label {
        border-bottom: solid 1px #eee $im;
        padding: 0 $im;
        .input-label {
            width: auto $im;
            max-width: none $im;
        }
    }
    .login-header {
        color: #f63371;
        padding: 10px 5px;
        font-size: 1.7em;
        i {
            padding-right: 10px;
        }
    }
}

.bar-footer {
    padding: 0 $im;
    button {
        width: 50%;
        float: left;
        height: 44px;
        border: none;
        font-weight: bold;
        &.signin {
            background-color: #eee;
        }
        &.next-step {
            background-color: #555;
            color: #fff;
        }
    }
}


/*HOME
-------------------------------------------------- */

.home {
    .bar-header {
        background-color: #f63371;
        .title {
            color: #fff;
            font-weight: bold;
        }
        .btn-icon {
            font-size: 1.7em;
            background-color: transparent;
            border: none;
            color: #fff;
        }
    }
    .has-tabs {
        top: 84px $im;
        bottom: 79px $im;
    }
    .p-text {
        font-size: 1.2em;
        color: #555;
        padding: 10px;
        i {
            color: #f63371;
        }
    }
    .item-floating-label,
    .item-stacked-label {
        border-bottom: solid 1px #eee $im;
        padding: 0 $im;
        .input-label {
            width: auto $im;
            max-width: none $im;
        }
    }
    .inline-inputs {
        padding-left: 0 $im;
        .col {
            padding-left: 0 $im;
            .input-label {
                width: auto $im;
                max-width: none $im;
            }
        }
    }
    .login-header {
        color: #f63371;
        padding: 10px 5px;
        font-size: 1.7em;
        i {
            padding-right: 10px;
        }
    }
    .label-old {
        display: block;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .marg-top {
        margin-top: 5px;
    }
    .item-checkbox {
        border: none $im;
        margin: 0 $im;
        border-bottom: solid 1px #eee $im;
        padding-left: 35px $im;
        .checkbox {
            left: -5px $im;
            input:checked+.checkbox-icon:before {
                background: #f63371 $im;
                border-color: #f63371 $im;
            }
        }
    }
    .no-border {
        border: none $im;
    }
}

.has-footer {
    bottom: 108px $im;
}


/*FOOTER MENU
-------------------------------------------------- */

.menu-footer {
    background-color: #43b3a1;
    line-height: normal $im;
    height: 64px $im;
    .btn-icon {
        width: 33%;
        background-color: transparent;
        color: #fff;
        left: 0;
        height: 64px;
        border: none;
        position: absolute;
        font-weight: bold;
        font-size: 28px;
        &.right {
            right: 0 $im;
            left: initial $im;
        }
    }
    .btn-circle {
        width: 96px;
        height: 96px;
        border-radius: 50%;
        position: absolute;
        background-color: #43b3a1;
        border: solid 2px rgba(255, 255, 255, 0.5);
        transform: translate(-50%, -50%);
        left: 50%;
        top: 10px;
        z-index: 99;
        i {
            display: block;
            color: #fff;
            font-size: 2.5em;
            font-weight: normal $im;
        }
        span {
            color: #fff;
        }
    }
}


/*NAVBAR
-------------------------------------------------- */

.pinkColor {
    .bar-header {
        background-color: #f63371;
        .title {
            color: #fff;
            font-weight: bold;
        }
        .btn-icon {
            font-size: 1.7em;
            background-color: transparent;
            border: none;
            color: #fff;
        }
    }
}

.tabs-custom {
    .tab-nav {
        background-color: #f63371;
        height: 54px;
        .icon {
            margin-top: 6px;
            font-size: 26px;
            height: 25px;
        }
        .tab-title {
            font-size: 16px$im;
        }
    }
    .tab-item {
        color: #fff $im;
        border: none $im;
        opacity: 1 $im;
    }
    .tab-item-active,
    .activated {
        color: #fff $im;
        border: none $im;
        .icon {
            margin-top: 6px $im;
        }
    }
}


/*DIRETIVES
-------------------------------------------------- */

[padding] {
    padding: 15px;
}


/*ICONS
-------------------------------------------------- */

.icons:before {
    font-family: Flaticon;
    font-style: normal;
}

.icons:after {
    font-family: Flaticon;
    font-style: normal;
}

.icon-question:before {
    content: "\f10d";
}

.icon-login:before {
    content: "\f104";
}

.icon-menu:before {
    content: "\f10b";
}

.icon-days:before {
    content: "\f109";
}

.icon-logout:before {
    content: "\f106";
}

.icon-user:before {
    content: "\f10a";
}

.icon-old:before {
    content: "\f107";
}